<?xml version="1.0" encoding="utf-8" ?>
<WinQuakeConConfig>
	<HotKeyCode>192</HotKeyCode>
	<HotKeyAlt>false</HotKeyAlt>
	<HotKeyCtrl>false</HotKeyCtrl>
	<HotKeyShift>false</HotKeyShift>
	<HotKeyWin>true</HotKeyWin>
	<Console>cmd.exe</Console>
	<ConsoleWidth>1024</ConsoleWidth>
	<ConsoleHeight>384</ConsoleHeight>
	<ConsoleHiddenX>0</ConsoleHiddenX>
	<ConsoleHiddenY>-384</ConsoleHiddenY>
	<ConsoleVisibleX>0</ConsoleVisibleX>
	<ConsoleVisibleY>0</ConsoleVisibleY>
	<WorkingDirectory>C:\</WorkingDirectory>
	<Animate>true</Animate>
	<AnimateSpeedX>0</AnimateSpeedX>
	<AnimateSpeedY>50</AnimateSpeedY>
</WinQuakeConConfig>
